@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background: linear-gradient(
        180.2deg,
        rgb(30, 33, 48) 6.8%,
        rgb(74, 98, 110) 131%
    ); */
    background-color: #1f1f1f;
    color: #fff;
}

@font-face {
    font-family: "Satoshi";
    src: url("./fonts/Satoshi/Satoshi-Variable.ttf");
}
